:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body{
    text-align: center;
}

body{
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-size: 50px;

}

.imagen{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    height: 300px;
}   

.h1{
    color: var(--base);
}